/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.homeContainer .homeWrapper .projectLogo {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center !important;
    left: 0;
    padding: 0 !important;
    position: static !important;
    right: 0;
    top: 0;
}